header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background: linear-gradient(#d7e8d2, #3ab02b);
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.imgTesDelSur {
    width: 20rem;
}